<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Update account details</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
      <%- include("navbar") %>
      <div class="pageContainer">
        <h1 class="title">Update your account</h1>
        <form id="updateUser" action="/planner/user/<%= currentUser.id %>/update" method="post">
            <label class="updateUserLabel" for="newUsername">New Username</label>
            <input id="newUsername" name="newUsername" type="text" class="updateUserInput" required autocomplete>
            <label class="updateUserLabel" for="newPassword">New Password</label>
            <input id="newPassword" name="newPassword" type="password" class="updateUserInput" autocomplete >
            <label class="updateUserLabel" for="confirmNewPassword">Confirm password</label>
            <input id="confirmNewPassword" name="confirmNewPassword" type="password" class="updateUserInput" autocomplete >
            <button type="submit" class="updateUserBtn">Update User</button>
            <% if (message) { %>
              <p class="message"><%= message %></p>
            <% } %>
        </form>
        <a href="/planner/user/<%= currentUser.id %>/delete" class="deleteUserLink">Delete Account</a>
        <a href="/planner/user/<%=currentUser.id %>/home" class="cancelBtn">Cancel</a>
      </div>
    </body>
  <% } else { %>
    <%- include("pageNotFound") %>
  <% } %>
</html>