<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= currentUser.username %>'s Home</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
      <%- include("navbar") %>
      <div class="pageContainer">
        <h1 class="title"><%= currentUser.username %>'s Home</h1>
        <div class="homeLinkDiv">
          <a href="/planner/user/<%= currentUser.id %>/update" class="homeLink">Update account</a>
          <a href="/planner/user/logout/confirm" class="homeLink">Log out</a>
        </div>
        <h3 class="gardensTitle">Your Gardens</h3>
        <% if (!gardens.length) { %>
          <p class="noGardens">You don't have any gardens yet</p>
        <% } %>
        <a href="/planner/user/<%= currentUser.id %>/garden/create" class="createGardenLink">Create garden</a>
        <div class="gardens">
          <% gardens.map((garden) => { %>
            <div class="garden" id="<%= garden.id %>">
              <div class="gardenInnerDiv">
                <p class="gardenName"><%= garden.name %></p>
                <% if (garden.plants.length == 1) { %>
                  <p class="plantCount">1 plant</p>
                <% } else { %>
                  <p class="plantCount"><%= garden.plants.length %> plants</p>
                <% } %>
              </div>
              <div class="gardenInnerDiv">
                <a href="/planner/garden/<%= garden.id %>" class="gardenLink">Go to <%= garden.name %></a>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </body>
  <% } else { %>
    <%- include("pageNotFound") %>
  <% } %>
</html>